.mynav{
    color: #fff;
}

.mynav li  {
    color: #fff;
    text-decoration: none;
    width: 100%;
    /* display: block; */
    border-radius: 5px;
    padding: 8px 5px;
}


.mynav li:hover{
background: rgba(255,255,255,0.2);
}

.links {
    color: #fff;
}

